<h1>User::Reviews#create</h1>
<div class="container">
  <div class="row">
    <div class="col-md-12 my-5">
      <h3>コメントが投稿されました</h3>
      <p>評価: <%= @review.rating %></p>
      <p>コメント: <%= @review.comment %></p>
      <p>投稿日時: <%= @review.created_at %></p>
      <a href="<%= user_movie_path(@movie) %>">映画詳細に戻る</a>
    </div>
  </div>
</div>

