<footer>
  <div class="container-fluid pb-1" style="background-color:#000000;">
    <div class="text-center pt-3">
      <%= link_to "https://twitter.com/", class: "text-decoration-none" do %>
        <i class="fab fa-twitter-square h2 text-light"></i>
      <% end %>

      <%= link_to "https://www.facebook.com/", class: "text-decoration-none mx-2" do %>
        <i class="fab fa-facebook h2 text-light"></i>
      <% end %>

      <%= link_to "https://www.instagram.com/", class: "text-decoration-none" do %>
        <i class="fab fa-instagram-square h2 text-light"></i>
      <% end %>

      <%= link_to "https://line.me/ja/", class: "text-decoration-none ml-2" do %>
        <i class="fab fa-line h2 text-light"></i>
      <% end %>
    </div>
    <div class="text-center">
      <span class="text-light">©Copyright 2023 eiga ALL Rights reserved.</span>
    </div>
  </div>
</footer>
